<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/main">
<head>
    <meta charset="utf-8">
    <title>Inbox</title>
</head>
<body layout:fragment="content">
<h1>Log In</h1>
<div th:if="${param.error}" class="alert alert-danger" role="alert">
    Invalid username and password.
</div>
<form method="post" th:action="@{/login}">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>

</body>
</html>
